body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #64CCFC;
}
.header {
  height: 90px;
}
.header-navi a {
  text-decoration: none;
  color:white;
}

.header-icon  {
  font-size: 70px;
  float: left;
}
.header-icon a {
  text-decoration: none;
  color:black;
}
.header-navi {
  float: left;
}
.header-navi li {
  float: left;
  padding: 0;
  margin-top: 10px;
  margin-left: 100px;
  font-size:30px;
  list-style: none;
}

.main {

}
.main h1 {
  margin-top: 100px;
  font-size:60px;
}
.main p {
  font-size:50px;
  color:white;
}
span {
  font-size: 35px;
}
